<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.practice.board.mapper.BoardMapper">
 
	<select id="findByIdx" parameterType="Integer" resultType="com.example.practice.board.domain.BoardVO">
        SELECT * FROM BOARD WHERE bno = #{bno}
    </select>
    
    <select id="findAll" resultType="com.example.practice.board.domain.BoardVO">
    	SELECT * FROM BOARD
    </select>
        
    <select id="countBoard" resultType="Integer">
    	SELECT COUNT(*) FROM BOARD
    </select>
    
    <insert id="insertBoard" parameterType="com.example.practice.board.domain.BoardVO">
    	INSERT INTO BOARD(title, content) VALUES (#{title}, #{content})
    </insert>
    
    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE bno = #{bno};
    </delete>

    <update id="updateBoard" parameterType="com.example.practice.board.domain.BoardVO">
        UPDATE BOARD
        SET title = #{title}, content = #{content}
        WHERE bno = #{bno}
    </update>
    
</mapper>
